<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9 mt-5">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Purchase View</li>
            </ol>
          </nav>
        </div>
      </div>
      @if (delete==true) {
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
              <strong>Purchase Deleted</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="close()" aria-label="Close"></button>
            </div>
          </div>
        </div>
      }
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="text-center">
                <tr>
                  <th>Bill No</th>
                  <th>Date</th>
                  <th>Supplier Name</th>
                  <th>Total</th>
                  <th>Pay Mode</th>
                  <th colspan="3">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (row of purchase; track row; let i = $index) {
                  <tr>
                    <td class="text-center">{{row.phno}}</td>
                    <td>{{row.phdate}}</td>
                    <td>{{row.cname}}, {{row.city}}, {{row.address}}</td>
                    <td>{{row.phtotal}}</td>
                    <td>{{row.phpay}}</td>
                    <td class="text-center"><a [routerLink]="['/purchase_edit',row.phid]" class="btn btn-success" title="Edit Purchase of {{row.phno}}"><i class="fa fa-pencil"></i></a></td>
                    <td class="text-center"><a class="btn btn-danger" (click)="remove(row.phid)" title="Delete purchase of {{row.phno}}"><i class="fa fa-trash"></i></a></td>
                    <td class="text-center"><a (click)="print(row.phid)" class="btn btn-info" title="Print Purchase of {{row.phno}}"><i class="fa fa-print"></i></a></td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>